ENV=dev
# Available log levels are: off, error, warn, info, debug, trace
FLUENTBIT_LOG_LEVEL=info
FLUENTBIT_VERSION=4.2.2

# These are keys that appear in Stalwart metrics that we want to delete or replace with md5 hashes.
# List of valid values are here: https://stalw.art/docs/telemetry/events#key-types
FLUENTBIT_STALWART_DELETE_KEYS="contents"
FLUENTBIT_STALWART_HASH_KEYS="from,to"

# This key determines which Posthog project fluent-bit will send events to
POSTHOG_API_KEY=
